body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.leaflet-popup-content {
  font-size: 45px;
  font-size: x-large;
  color: white;
}

.leaflet-popup-content-wrapper{
  background-color: black;
}